* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    background-image: url(neon-4k-hd-best-for-desktop-wallpaper-preview.jpg);
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    padding: 25px 13%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo {
    position: relative;
    font-size: 30px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
    text-decoration: none;
}

.navbar a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    bottom: -5px;
    border-radius: 5px;
    transform: translateY(10px);
    opacity: 0;
    transition: .5s ease;
}

.navbar a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

.search-bar {
    width: 250px;
    height: 45px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.search-bar input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    padding-left: 10px;
}

.search-bar button {
    width: 40px;
    height: 100%;
    background: transparent;
    outline: none;
    border: none;
    color: #fff;
    cursor: pointer;
}

.search-bar input::placeholder {
    color: #fff;
}

.search-bar button i {
    font-size: 22px;
}

.login-section {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 50%);
    height: 100%;
    color: #fff;

}

.login-section,
.form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #fff;

}

#greet {
    justify-content: center;
    display: flex;
    margin-top: 400px;
    align-items: center;
    color: #fff;
    text-shadow: 0 0 20px #ff9900,
            0 0 30px #ff6600, 0 0 40px #ff3300,
            0 0 50px #ff0000;
   
}

.login-section .form-box {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;


}


.login-section .form-box h2 {
    text-align: center;
    font-size: 25px;
}

.form-box .input-box {
    width: 340px;
    height: 50px;
    border-bottom: 2px solid#fff;
    margin: 30px 0;
    position: relative;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    padding-right: 28px;


}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 600px;
    pointer-events: none;
    transition: .5s ease;

}

.input-box .icon {
    position: absolute;
    top: 13px;
    right: 0;
    font-size: 19px;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.remember-password {
    font-size: 14px;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-password label input {
    accent-color: #fff;
    margin-right: 3px;

}

.remember-password a {
    color: #fff;
    text-decoration: none;
}

.remember-password a:hover {
    text-decoration: underline;
}

#btn {
    background: #fff;
    width: 100%;
    height: 45px;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background: #f72d7a;
    font-size: 16px;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.4);

}

.create-account {
    font-size: 14.5px;
    text-align: center;
    margin: 25px;
}

.create-account p a {
    color: #fff;
    font-weight: 600px;
    text-decoration: none;
}

.create-account p a:hover {
    text-decoration: underline;
}


/* Media Queries */
@media only screen and (max-width:950px) {
    .search-bar {
        width: 150px;

    }

    .navbar a {
        font-size: 13px;
        margin-right: 18px;
    }

    h1 {
        font-size: 20px;
    }
}

@media only screen and (max-width:786px) {
    .navbar a {
        font-size: 11px;
        margin-right: 15px;
    }

    h1 {
        font-size: 20px;
    }

    .search-bar {
        width: 100px;

    }
}

@media only screen and (max-width:600px) {
    .navbar a {
        display: none;
    }

    h1 {
        font-size: 20px;
    }

    .search-bar {
        width: 100px;

    }
}

@media only screen and (max-width:320px) {


    .search-bar {
        width: 100px;

    }
}


@media only screen and (max-width: 1024px) {

    .search-bar {
        width: 200px;

    }

    h1 {
        font-size: 25px;
    }



}